@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />
<h2>İçerik Girişi</h2>
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <input type="hidden" name="HeadingID" value="@ViewBag.d" />
    <div class="form-group">
        @Html.Label("İçeriğinizi Giriniz");
        @Html.TextAreaFor(x => x.ContentValue,7,30, new { @class = " form-control " })
        @Html.ValidationMessageFor(x => x.ContentValue)
       
        <br />
        <button class=" btn btn-info">Kaydet</button>
    </div>
}

