
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>profil</p>
<p>paging</p>
<p>session</p>
<p>oturum mimariye</p>
<p>TOKEN</p>
<p>TOKEN</p>
<p>sİTEYE GİT CIKIS</p>
